@font-face {
  font-family: "Doto";
  src: url(./fonts/doto-700.woff2);
  font-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-main-light: #ffffff;
  --background-main-dark: #212121;
  --text-main-light: #000000;
  --text-main-dark: #eeeeee;
  --accent-main: #ff8b3d;

  --default-inline-padding: max(1rem, 16%);

  background-color: var(--background-main-light);
  color: var(--text-main-light);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body>* {
  padding: 1rem var(--default-inline-padding);
}

header {
  background-color: var(--accent-main);
}

header>* {
  margin: 0;
  padding: 0;
}

.board {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  font-family: "Doto";
  aspect-ratio: 1 / 1;
  font-size: 4rem;
}