@font-face {
  font-family: "Doto";
  src: url(./fonts/doto-700.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Domine";
  src: url(./fonts/domine-400.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Domine";
  src: url(./fonts/domine-700.woff2);
  font-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-main: #f3f3f3;
  --text-main: #000000;
  --red: hsl(0, 100%, 65%);
  --blue: hsl(231, 43%, 49%);

  --default-inline-padding: max(1rem, 16%);

  background-color: var(--background-main);
  color: var(--text-main);
}

body {
  font-family: "Domine";
  margin: 0;
  padding: 0;
}

body>* {
  padding: 1rem var(--default-inline-padding);
}

main {
  margin-top: 2rem;
  display: grid;
  place-items: center;
  row-gap: 1rem;
  >* {
    margin: 0;
  }
}

button {
  font-family: "Domine";
  padding: 1em 2em;
  background-color: var(--background-main);
  border-radius: 1em;
  border: #333333 solid 3px;
}

button:hover {
  background-color: #eeeeee;
}

#board {
  display: grid;
  background-color: #333333;
  padding: 0.5rem;
  width: min(500px, 90%);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: #888888 2rem 2rem;
}

.cell {
  padding: 0;
  font-family: "Doto";
  aspect-ratio: 1 / 1;
  font-size: calc(3.5rem + 0.75vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;

  &.x {
    color: var(--red);
  }
  &.o {
    color: var(--blue);
  }
}

